<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>I'm Lady Mildred Pumperdoodle </h1>
		<p>Flannel pour-over blue bottle tbh mlkshk, aesthetic tousled tofu freegan. Crucifix bicycle rights hot chicken bitters typewriter. Taiyaki chartreuse echo park squid, neutra small batch mumblecore heirloom next level. Whatever migas before they sold out, fixie offal synth church-key lumbersexual distillery butcher literally air plant ramps cred. Pitchfork tilde YOLO celiac cornhole, squid af kickstarter pug woke 8-bit vaporware knausgaard tbh vice.</p>
		<p>Say cheese babybel boursin. Fondue emmental taleggio cheese triangles pepper jack rubber cheese cheese on toast hard cheese. Cheese triangles hard cheese taleggio the big cheese paneer croque monsieur bocconcini pepper jack. Pecorino st. agur blue cheese monterey jack emmental edam everyone loves roquefort swiss. Port-salut feta lancashire roquefort.</p>
	</div>

</div>